<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194101384075-d3b3hotsvum0hkhcqoe5k80stp5lievq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194101384075-d3b3hotsvum0hkhcqoe5k80stp5lievq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTSGb9wjVs58NFajUgSU2EmOS7XLzReeI</string>
	<key>GCM_SENDER_ID</key>
	<string>194101384075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab09</string>
	<key>PROJECT_ID</key>
	<string>lab09-d80e7</string>
	<key>STORAGE_BUCKET</key>
	<string>lab09-d80e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194101384075:ios:5901454eddfdafe3a1158e</string>
</dict>
</plist>